.card-postagem-container {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .card-postagem {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 300px; /* Ajuste conforme necessário */
    width: 250px; /* Ajuste a largura para manter a consistência */
  }

  .card-postagem.dorflex {
    height: 350px; /* Aumenta a altura do card do Dorflex */
    width: 270px; /* Aumenta a largura do card do Dorflex */
  }

  .card-postagem.protetor-solar {
    height: 350px; /* Aumenta a altura do card do Protetor Solar */
    width: 270px; /* Aumenta a largura do card do Protetor Solar */
  }

  .card-postagem.sabonete-liquido {
    height: 350px; /* Aumenta a altura do card do Sabonete Líquido */
    width: 270px; /* Aumenta a largura do card do Sabonete Líquido */
  }

  .card-header {
    background-color: #4f46e5;
    color: #ffffff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .image-container {
    width: 80px; /* Ajuste conforme necessário */
    height: 80px; /* Ajuste conforme necessário */
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .card-body {
    padding: 1rem;
    flex-grow: 1;
  }

  .card-footer {
    display: flex;
    border-top: 1px solid #e5e7eb;
    background-color: #f0f0f0; /* Fundo para garantir visibilidade */
    padding: 0.5rem;
  }

  .card-footer a {
    flex: 1;
  }

  .card-footer button {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 0; /* Remove bordas arredondadas */
  }

  .card-footer .bg-indigo-500 {
    background-color: #4f46e5;
    color: #ffffff;
    margin-right: 0.5rem; /* Espaçamento entre botões */
  }

  .card-footer .bg-red-500 {
    background-color: #ef4444;
    color: #ffffff;
  }
