/* Container principal */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Título da página */
  .contact-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #4f46e5;
  }


  /* Informações de Contato */
  .contact-info {
    margin-bottom: 30px;
  }

  .info-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #4f46e5;
    border-bottom: 2px solid #4f46e5;
    padding-bottom: 5px;
  }

  /* Formulário de Contato */
  .contact-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #4f46e5;
  }

  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }

  .contact-form textarea {
    resize: vertical;
    min-height: 150px;
  }

  .contact-form button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }

  .contact-form button:hover {
    background-color: #3b40c1;
    transition: background-color 0.3s ease;
  }
