.lista-postagens-container {
    /* Estilos adicionais para o contêiner, se necessário */
  }

  .lista-postagens {
    /* Estilos adicionais para a lista de postagens, se necessário */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
