/* src/components/listaTemas/ListaTemas.css */

.lista-temas-container {
    display: flex;
    justify-content: center;
    padding: 1rem; /* Espaço interno */
  }

  .lista-temas {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na coluna */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Ajusta automaticamente o número de colunas */
    gap: 1rem; /* Espaço entre cards */
    width: 100%; /* Largura total */
    max-width: 1200px; /* Largura máxima da lista */
  }
